:root {
  --primary-color: hsl(47, 88%, 63%);
  --secondary-color: hsl(0, 0%, 42%);
  --background-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 7%);
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/static/Figtree-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/static/Figtree-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
   font-family: 'Figtree', sans-serif;   
  background-color: var(--primary-color);  
  color: var(--secondary-color);
}

time{
  display: block;
  font-weight: 500;
  padding: 0.3125rem 0;
  font-size: 0.9rem;
  color: var(--text-color);
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 25rem;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 1.25rem;
  box-shadow:
  0.25rem 0.25rem 0rem var(--text-color),
  0.625rem 0.625rem 0rem var(--text-color);
}

.card__image{
  padding: 1.25rem 1.5625rem 0rem;
}
.card__image img{
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
  margin-top: 0.3125rem;
}
.card__content{
  padding: 1.25rem 1.5625rem 1.25rem;
}

.card__title{
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 0.625rem;
  color: var(--text-color);
}
.card__title:hover{
  color: var(--primary-color);
  cursor: pointer;
}
.card__category{
  display: inline-block;
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 0.625rem;
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 0.375rem 0.75rem;
  border-radius: 0.3125rem;
}

.card__author{
  display: flex;
  align-items: center;
  margin-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.card__author-name{
  font-size: 1rem;
  font-weight: 800;
  color: var(--text-color);
  margin-left: 0.625rem;
}

.card__author-image{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.card__description{
  font-size: 1rem;
  color: var(--secondary-color);
  margin-top: 0.625rem;
  padding-bottom: 0.625rem;
  line-height: 1.5;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1.25rem;
  color: var(--secondary-color);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}